.graph-box {
  border-radius: 20px;
  padding: 1em 2em;
  background-color: white;
}
.graph-header {
  font-weight: bold;
  margin-bottom: 1em;
}
.graph-footer {
  margin: 1em 0;
  padding: 1em 0;
  display: flex;
}
.percentage {
  opacity: 0.8;
  margin-right: 1em;
  font-size: 23px;
  font-weight: bold;
}
.title {
  width: 70%;
  opacity: 0.6;
}
@media screen and (max-width: 1280px) {
  .graph-box {
    padding: 1em;
  }
  .graph-footer {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .percentage {
    font-size: 20px;
  }
  .title {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .graph-box {
    padding: 0.5em 0.7em;
  }
  .graph-footer {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .percentage {
    font-size: 15px;
  }
  .title {
    font-size: 10px;
  }
}
