.navbar-section {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  width: 50%;
  padding: 1em 0;
  justify-content: flex-start;
}
.nav-box {
  color: white;
  width: 30%;
}
.nav-logo {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.nav-logo i {
  padding-right: 0.5em;
  font-size: 1.8em;
}
.nav-logo h3 {
  font-weight: bold;
}
.nav-list {
  list-style: none;
  padding: 0;
}
.nav-item {
  display: flex;
  align-items: center;
  transition: ease 0.3s;
  margin: 1.5em 0;
}
.nav-item i {
  font-size: 25px;
  padding-right: 1em;
}
.nav-item p {
  font-size: 15px;
  margin: 0;
}
.nav-item:hover {
  transition: ease 0.3s;
  opacity: 0.8;
}
.form-box {
  width: 70%;
  display: flex;
  justify-content: center;
}
.form-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-header h3 {
  font-size: 1.75rem;
  font-weight: bold;
}
.close-button {
  transition: ease 0.3s;
  font-size: 20px;
  cursor: pointer;
}
.close-button:hover {
  transition: ease 0.3s;
  opacity: 0.6;
}
.form-col {
  margin: 1em 0.5em;
}
.button-col {
  margin: 1em 0.5em;
  display: flex;
  justify-content: flex-end;
}
.input-header {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 1em;
}
.form-col input {
  background-color: transparent;
  padding: 0.5em;
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid rgb(87, 87, 87);
  color: white;
  font-weight: bold;
}
.form-col input:focus {
  outline: none;
}
@media screen and (max-width: 1280px) {
  .navbar-section {
    top: 0.5em;
  }
  .nav-logo i {
    font-size: 1.6em;
  }
  .nav-logo h3 {
    font-size: 1.2rem;
  }
  .nav-item {
    margin: 1em 0;
  }
  .nav-item i {
    font-size: 20px;
  }
  .nav-item p {
    font-size: 13px;
  }
  .form-box {
    width: 80%;
  }
  .form-header h3 {
    font-size: 1.5rem;
  }
  .close-button {
    font-size: 15px;
  }
  .form-col {
    margin: 0.5em;
  }
  .input-header {
    font-size: 13px;
  }
  .form-col input {
    font-size: 13px;
  }
  .form-box Button {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-section {
    top: 0.2em;
  }
  .nav-logo i {
    font-size: 1.3em;
  }
  .nav-logo h3 {
    font-size: 0.9em;
  }
  .nav-item {
    margin: 0.5em 0;
  }
  .nav-item i {
    font-size: 15px;
  }
  .nav-item p {
    font-size: 10px;
  }
  .form-header h3 {
    font-size: 1rem;
  }
  .close-button {
    font-size: 13px;
  }
  .form-col {
    margin: 0.5em;
  }
  .input-header {
    font-size: 10px;
  }
  .form-col input {
    font-size: 10px;
  }
  .form-box Button {
    font-size: 10px;
  }
}
