.todo-container {
  padding: 1em;
  margin-top: 1em;
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  font-weight: bold;
}
.todo-header p {
  margin: 0;
  opacity: 0.8;
}
.todo-list {
  margin-top: 1em;
  margin-left: 1em;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
  margin: 1em 0;
  border-radius: 20px;
}
.item-title {
  font-weight: bold;
}
.item-date {
  opacity: 0.8;
}
.item-right {
  display: flex;
  align-items: center;
}
.item-right Button {
  margin-left: 1em;
  padding: 1em 2em;
  border-radius: 10px;
  border: 1px solid rgb(155, 155, 155);
}
@media screen and (max-width: 1280px) {
  .todo-container {
    padding: 0.5em;
    margin-top: 0.5em;
  }
  .todo-header {
    font-size: 15px;
  }
  .todo-list {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
  .todo-item {
    padding: 0.5em;
    margin: 0.7em 0;
    border-radius: 15px;
  }
  .item-title {
    font-size: 15px;
  }
  .item-date {
    font-size: 13px;
  }
  .item-right div {
    font-size: 13px;
  }
  .item-right Button {
    margin-left: 0.5em;
    padding: 0.5em 1em;
  }
}
@media screen and (max-width: 1024px) {
  .todo-container {
    padding: 0.5em;
    margin-top: 0.5em;
  }
  .todo-header {
    font-size: 13px;
  }
  .todo-list {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
  .todo-item {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 15px;
  }
  .item-title {
    font-size: 11px;
  }
  .item-date {
    font-size: 10px;
  }
  .item-right div {
    font-size: 10px;
  }
  .item-right Button {
    margin-left: 0.5em;
    padding: 0.5em 0.7em;
    font-size: 10px;
    border-radius: 7px;
  }
}
