@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
*{
    font-family: 'Rubik', sans-serif!important;
}
.app-container{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
.canvasjs-chart-credit{
    display: none!important;
}